#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}
.posts {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 32px 0 32px;
}

.post {
    width: 40%;
  border: 1px solid #000;
  padding: 0 10px 10px 10px;
}

.post__action {
  display: flex;
  justify-content: flex-end;
  margin-right: -11px;
}

.post__action button {
    cursor: pointer;
}

.post__author {
    margin-top: 10px;
}

.post__email {
    text-decoration: none;
    display: block;
    margin-top: 4px;
    font-size: 14px;
}

.post__title {
    text-transform: uppercase;
    margin-top: 20px;
}

.post__body {
    font-style: italic;
    margin-top: 4px;
}

@media screen and (max-width: 480px) {
  #root {
    flex-direction: column;
    align-items: center;
  }
  .post {
    width: 70%;
  }
}

.opacity {
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  padding: 10px;
  background-color: #607d8b;
  width: 50%;
}
.modal__form {
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal__title, .modal__body {
  color: #fff;
}
.modal__input-body {
  width: 100%;
}
#btn-save {
  cursor: pointer;
}